@charset "UTF-8";
* { margin: 0; padding: 0; box-sizing: border-box; letter-spacing: -0.75px; } 

header .headerInner .snow_wrap { overflow: hidden; width: 100%; height: 155px; display: flex; position: fixed; margin: 0 auto; right: 0; } 

header .headerInner .snow { background: #c1daf0; width: 100%; margin: 0 auto; } 



/* FullPage.js 스타일 */
.section { text-align: center; padding: 50px 0;} 

body { font-family: 'Roboto', sans-serif; font-weight: 500; } 



/* 고정된 헤더 스타일 */
header { position: fixed; top: 0; left: 0;
 width: 100%; background-color: #c1daf0; color: black; text-align: center; padding: 15px 0; z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */}

header .headerInner { width: 1400px; margin: 0 auto; } 

/* 헤더이미지 */
header .headerInner h1.logo { width: 200px; /* margin: 0 auto; position: relative; top: 20px; /* left: -550px; */
 /* width: 155px; */
 /* height: 34px; */
}

header .headerInner h1.logo img { width: 200px; margin-top: 20px; margin-bottom: -20px; z-index: 99999999999999999; position: relative; } 


/* 헤더 ul */
header .menu { text-align: center; display: flex; /* 추가 */
 gap: 20px; /* 추가 */
 justify-content: space-between; /* 수정 */
 position: relative; top: 60px; } 

header .menu li { display: inline-block; position: relative; /* 추가 */}

header .menu li a { text-decoration: none; color: #111111; font-size: 18px; /* padding: 0 65px; */
 padding: 0 10px; /* 추가 */}

/* ul 호버 - 수정 */
header .menu>li>a:hover { color: #006aa6; font-weight: bold; display: block;}

/* 수정 */
header .menu>li::after { position: relative; content: ""; display: block; border-bottom: 3px solid #006aa6; transition: all 250ms ease-out; left: 50%; width: 0; } 

header .menu li:hover::after { transition: all 250ms ease-out; left: 0%; width: 100%; } 

/* 더보기 호버시 아이콘 각도변경 */
#moreButton:hover i { transform: rotate(180deg); } 

/* 서브메뉴 */
.submenu { display: none; position: absolute; text-align: center; padding: 10px; margin: 0 0 0 -60px; background: #c1daf0; border: 1px solid #c1daf0; width: 200px; /* 조절할 크기 */
 line-height: 30px; } 

/* 서브메뉴 호버 */
.submenu li a:hover { font-weight: bold; color: #006aa6; } 

.submenu>a { display: block; color: #111; text-align: left; padding: 8px; text-decoration: none; } 

.menu li:hover .submenu { display: block; } 


/* 풀페이지 */
#fullpage { width: 100%; } 

.section img
 { width: 100%; margin: 0 auto; padding: 0; position: absolute; left: 0; top: 250px; } 

.sectionimg1:hover,
.sectionimg2:hover,
.sectionimg3:hover,
.sectionimg4:hover,
.sectionimg5:hover,
.sectionimg6:hover,
.sectionimg7:hover { opacity: 0.7; } 





/* 푸터 스타일 */
footer { position: fixed; bottom: 0; left: 0; width: 100%; background-color: #c1daf0; color: #006aa6; text-align: center; padding: 15px 0; z-index: 1000; } 

/* 푸터이미지 */
.footerlogo { display: flex; width: 123px; height: 26px; position: absolute; top: 20px; margin: 0 auto; float: left; } 

/* 푸터 1577-3082 */
p { text-align: center; font-size: 30px; font-weight: bold; position: relative; bottom: 0px;}

/* 푸터이너1 */
footer .footerInner { width: 1400px; display: flex; justify-content: space-between; margin: 0 auto;}

footer .footerInner a { text-decoration: none; } 

/* 푸터 푸터컨텍트 */
footer .footer-contact li { float: left; display: flex; position: relative; left: 60px; opacity: 0.7; } 

footer .footer-contact li a { padding: 10px; text-align: center; color: black; } 

footer .footer-contact .footerInnerBoldBox { font-weight: bold; } 

/* 인디케이터 스타일 */
#fp-nav { position: fixed; right: 0; bottom: 455px; z-index: 1000; } 

/* #fp-nav ul li a span { background: #fff; } */

/* Input and button container styling */
.search-box { position: absolute; z-index: 99999999; margin: 0 auto; right: 270px; top: 30px; display: flex; justify-content: space-between; } 

/* Search input styling */
#searchInput { width: 300px; padding: 8px; border: 1px solid #ccc; border-radius: 4px; padding-right: 50px; box-sizing: border-box; z-index: 999999;
}

/* Search button styling */
#searchBtn { position: absolute; left: 270px; top: 8px; border: none; background-color: transparent; cursor: pointer; z-index: 999999;
}

.fa-search { background-color: #fff; color: #999; } 